body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	margin: 0px 166px;
}
.header {
	background-image: url('img/bg_body.jfif');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-line {
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.nav-item {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	margin-right: 25px;
	transition: color 0.2s linear;
}
.nav-item:hover {
	color: #808080;
}
.phone {
	border-left: 1px solid #FFFFFF;
	padding-left: 10px;
	height: 50px;
}
.num {
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
	transition: color 0.2s linear;
}
.num:hover {
	color: #808080;
}
.phone-text {
	font-size: 14px;
	font-weight: 400;
	color: #FFF;
}
.phone-holder {
	display: flex;
	align-items: center;
}
.header-down {
	position: relative;
}
.header-title {
	color: #FFF;
	font-family: 'Tinos', serif;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	position: absolute;
	left: 0;
	margin-top: 200px;
}
.header-center-img {
	text-align: right;
}
.header-center-text {
	color: #FFF;;
	text-align: right;
	font-size: 25px;
	font-weight: 200;
}
.about {
	background-color: #1d334a;
	margin-top: 140px;
}
.about-title {
	color: #FFF;
	font-family: 'Tinos', serif;
	font-size: 55px;
	font-weight: 400;
	width: 444px;
	text-align: center;
}
.about-description {
	color: #808080;
	font-size: 16px;
	width: 444px;
	text-align: center;
}
.about-holder {
	display: flex;
	justify-content: space-between;
}

.newss-title {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	font-size: 55px;
}
.news-holder {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	margin-bottom: 70px;
}
.news-img {
	display: flex;
	justify-content: center;
}
.news-text {
	text-align: center;
	color: #656363;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: 400;
}
.feedback-title {
	display: flex;
	margin-top: 30px;
	font-size: 45px;
}

.followers-title {
	display: flex;
	margin-top: 30px;
	font-size: 45px;
}
.feedback-text {
	text-align: right;
	margin-bottom: 15px;
	font-size: 20px;
}
.me {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.text
{
margin:auto;
text-align:left;
vertical-align:top;
width:500px;
}


#wrap li{
	height:auto;
	position:relative;
	overflow:hidden;
	box-shadow: 10px 10px 40px 20px #0000001A;
}

li h2{
	width:100%;
	height:20px;
	margin-bottom:5px;
	padding:5px 10px;
	background:#CCC;
	color:#666;
	font-size:20px;
	font-weight:600;
	box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
	cursor:pointer;
}

li h2:hover{
	color:#F9F9F9;
}

.content{
	padding:0 30px 30px 10px;
	font-size:18px;
	overflow:hidden;
	
	display:none;
}

.arrow{
	width:20px;
	height:20px;
	margin:5px;
	position:absolute;
	top:0;
	right:0;
	
	-webkit-transition-duration:1s;
	   -moz-transition-duration:1s;
		-ms-transition-duration:1s;
		 -o-transition-duration:1s;
			transition-duration:1s;
}

#wrap .show .arrow{
	top:auto;
	bottom:0;
	
	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		 -o-transform:rotate(180deg);
			transform:rotate(180deg);
}
